<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4">
	<display-name>SummaryTask4</display-name>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>
			ua.nure.tarasenko.summary4.servlet.LoginController
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SumCounter</servlet-name>
		<servlet-class>
			ua.nure.tarasenko.summary4.servlet.SumCounter
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UserLocker</servlet-name>
		<servlet-class>
			ua.nure.tarasenko.summary4.servlet.UserLocker
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccountSorter</servlet-name>
		<servlet-class>
			ua.nure.tarasenko.summary4.servlet.AccountSorter
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PaymentSorter</servlet-name>
		<servlet-class>
			ua.nure.tarasenko.summary4.servlet.PaymentSorter
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CardLocker</servlet-name>
		<servlet-class>
			ua.nure.tarasenko.summary4.servlet.CardLocker
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransferController</servlet-name>
		<servlet-class>
			ua.nure.tarasenko.summary4.servlet.TransferController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SumCounter</servlet-name>
		<url-pattern>/sum</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UserLocker</servlet-name>
		<url-pattern>/userLocker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountSorter</servlet-name>
		<url-pattern>/accountSort</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentSorter</servlet-name>
		<url-pattern>/paymentSort</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CardLocker</servlet-name>
		<url-pattern>/cardLocker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferController</servlet-name>
		<url-pattern>/transfercontroller</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>ua.nure.tarasenko.summary4.listener.ContextListener
		</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>/index.jspx</welcome-file>
	</welcome-file-list>
</web-app>
